.root{
    --primarycolor--:rgba(165, 42, 42, 0.696);
}
table{
    /* background-color: black; */
    margin:50px 0px;
    /* color:#ffffff; */
    border:1px solid;
}
h1{
    font-size:smaller;
    text-align: center;
}
p{
    font-size:16px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:0px;
    line-height: 0.25;
}
.numbers{
   text-align: left;
}
td{
    text-align: center;
    /* background-color: yellow; */
    border-radius: 5px;
    /* border-collapse: collapse; */
    color:#ffffff;
    border: 1px solid;
}
#td1{
    background-color:#405575;
    font-size: 20px;
    border: none;
    /* width:100%; */
}
#td1:hover{
    background-color:#405575;
    font-size: 32px;
    border-radius: 6px;
    padding:30px;
}
#td2{
    background-color:#325961;
    font-size: 20px;
    border: none;
    /* width:300%; */
}
#td2:hover{
    background-color:#325961;
    font-size: 32px;
    border-radius: 6px;
    padding:30px;
}
#td3{
    border:none;
    text-align: bottom;
}
#td4{
    background-color:rgba(165, 42, 42, 0.696);
    font-size: 20px;
    border: none;
}
#td4:hover{
    background-color:rgba(165, 42, 42, 0.696);
    font-size: 32px;
    border-radius: 6px;
    padding:30px;
}
#td5{
    background-color:#004C80;
    font-size: 20px;
    border: none;
}
#td5:hover{
    background-color:#004C80;
    font-size: 32px;
    border-radius: 6px;
    padding:30px;
}
#td6{
    background-color:#4B3D63;
    font-size: 20px;
    border: none;
}
#td6:hover{
    background-color:#4B3D63;
    font-size: 32px;
    border-radius: 6px;
    padding:30px;
}
#td7{
    background-color:#325961;
    font-size: 20px;
    border: none;
}
#td7:hover{
    background-color:#325961;
    font-size: 48px;
    border-radius: 6px;
    padding:30px;
}
#td8{
    background-color:#672525;
    font-size: 20px;
    border: 1px solid;
    color:black;
}
#td8:hover{
    background-color:#672525;
    font-size: 32px;
    border-radius: 6px;
    padding:30px;
}
#td9{
    background-color:#333333;
    font-size: 20px;
    border: none;
}
#td9:hover{
    background-color:#333333;
    font-size: 32px;
    border-radius: 6px;
    padding:30px;
}
div{
    margin-top:20px;
}