table{
    background-color: black;
    /* margin:50px 0px; */
    /* color:#ffffff; */
    /* border:1px solid; */
    margin:0px auto;
    border-collapse: separate;
}
#heading{
    font-size: 32px;
    text-align: center;
}
h1{
    font-size:20px;
    text-align: center;
}
p{
    text-align: left;
    font-size:12px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:0px;
    line-height: 0.25;
}
p:hover{
    text-align: left;
    font-size:32px;
    padding-left:15px;
    padding-right:15px;
    padding-bottom:0px;
    line-height: 0.25;
}
.numbers{
   text-align: left;
   font-size: smaller;
}
.cell2{
    color:black;
    padding-bottom:0px;
}
.cell1{
    font-size:22px;
   text-align: right;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
    border:none;
}
td{
    text-align: center;
    /* background-color: yellow; */
    border-radius: 5px;
    /* border-collapse: collapse; */
    color:#ffffff;
}
#td1{
    background-color:#405575;
    font-size: 20px;
    border: none;
    /* width:100%; */
}
#td1:hover{
    background-color:#405575;
    font-size: 32px;
    border-radius: 6px;
    padding-left:30px;
    padding-right:30px;
}
#td2{
    background-color:#325961;
    font-size: 20px;
    border: none;
    /* width:300%; */
}
#td2:hover{
    background-color:#325961;
    font-size: 32px;
    border-radius: 6px;
     padding-left:30px;
    padding-right:30px;
}
.cell{
    color:#ffffff;
    font-size: 32px;
}
#emptycell1{
    empty-cells: hide;
    border: none;
}
#emptycell{
    empty-cells: hide;
    border: none;
}
#td3{
    border:none;
    color:white;
}
#td4{
    background-color:rgba(165, 42, 42, 0.696);
    font-size: 20px;
    border: none;
}
#td4:hover{
    background-color:rgba(165, 42, 42, 0.696);
    font-size: 32px;
    border-radius: 6px;
     padding-left:30px;
    padding-right:30px;
}
#td5{
    background-color:#004C80;
    font-size: 20px;
    border: none;
}
#td5:hover{
    background-color:#004C80;
    font-size: 32px;
    border-radius: 6px;
     padding-left:30px;
    padding-right:30px;
}
#td6{
    background-color:#4B3D63;
    font-size: 20px;
    border: none;
}
#td6:hover{
    background-color:#4B3D63;
    font-size: 32px;
    border-radius: 6px;
     padding-left:30px;
    padding-right:30px;
}
#td7{
    background-color:#325961;
    font-size: 20px;
    border: none;
}
#td7:hover{
    background-color:#325961;
    font-size: 32px;
    border-radius: 6px;
     padding-left:30px;
    padding-right:30px;
}
.cell3{
    background-color:#672525;
    font-size: 20px;
    border:none;
}
#td8{
    background-color:#672525;
    font-size: 20px;
    border: none;
}
#td8:hover{
    background-color:#672525;
    font-size: 32px;
    border-radius: 6px;
     padding-left:30px;
    padding-right:30px;
    border: none;
}
#td9{
    background-color:#333333;
    font-size: 20px;
    border: none;
}
#td9:hover{
    background-color:#333333;
    font-size: 32px;
    border-radius: 6px;
     padding-left:30px;
    padding-right:30px;
}
div{
    margin-top:20px;
}
#row{
    border:1px solid white;
    padding-top: 30px;
    padding-bottom: 30px;

}